<script type = 'text/javascript'>
  <% if !!current_user %>
     window.currentUser = <%= render(
     'api/users/user.json.jbuilder',
     user: current_user
     ).html_safe %>
  <% end %>
  <% if !!current_user %>
     window.notebooks = <%= render(
        'api/notebooks/notebooks.json.jbuilder',
        notebooks: current_user.notebooks
      ).html_safe %>
  <% end %>
  window.staticImages = {
    logoMain: '<%= asset_url("æterNote_logo_lightbulb.png") %>',
    notebookIcon: '<%= asset_url("notebookIcon.png") %>',
    notebookPlus: '<%= asset_url("notebookPlusIcon.png") %>',
    whiteTrashCan: '<%= asset_url("white_trash_can.png") %>'
  }
</script>

<main id="root"></main>
